
<!DOCTYPE html>
<html lang="zxx">
<head>
    {% load staticfiles %}
    <title>Doctor Themes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{% static 'doctor/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'doctor/css/examples.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'doctor/css/slider-pro.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'doctor/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'doctor/css/owl.theme.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'doctor/css/nav.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'doctor/css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'doctor/css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'doctor/css/lightcase.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
</head>

<body>
    <div class="header-top">
        <header>
            <div class="top_header_pull">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-sm-8" id="title">
                            <h1>Dr. Abdullah Al Mahmud (Ratan)</h1>
                            <h3 style="color: #d714ab;text-align:center;font-size: 22px;">নবজাতক, শিশু ও কিশোর বিশেষজ্ঞ সার্জন</h3>
                            <h5 style="color: #d714ab;font-weight:bold;font-size: 16px;"><center>(জেনারেল ও লেপারোস্কপিক)</center></h5>
                        </div>
                        <div class="col-sm-4 social_icon">
                            <ul>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="responsive_menu_bar">
                <h4>Dr. Abdullah Al Mahmud (Ratan) <span><i class="fa fa-bars"></i></span></h4>
            </div>
            <div class="main_menu_pull">
                <div class="container">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="#">Album <i class="fas fa-angle-down"></i></a>
                            <ul>
                                {% for data in gallery_category %}
                                <li><a href="/gallery/{{ data.pk }}/view-photo">{{ data.gallery_category }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="/program/all-program/">Programs</a></li>
                        <li><a href="/achievment/all-achievment/">Achievment</a></li>
                        <li><a href="#">Academic Activities <i class="fas fa-angle-down"></i></a>
                            <ul>
                                <li><a href="">Lecture </a></li>
                                <li><a href="" title="">Clinical</a></li>
                                <li><a href="" title="">Exam</a></li>
                            </ul>
                        </li>
                        <li><a href="/social-activities/">Social Activities</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>


{% block content %}


{% endblock  %}


    <section>
        <div class="footer-top"  id="chamber">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"> <br>
                        <h2>চেম্বার</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>শনিবার থেকে বৃহস্পতি বার</h3>
                        <h4 style="font-size: 20px;">ডেল্টা হেলথ কেয়ার, ময়মনসিংহ লিঃ</h4>
                        <h5>৫৫/৪, ৫৫/৫, চরপাড়া, ময়মনসিংহ ।</h5>
                        <h5>রোগী দেখার সময়ঃ বিকাল- ৪.০০ মিনিট থেকে রাত ১০.০০ মিনিট পর্যন্ত ।</h5> 
                        <h5>যোগাযোগঃ ০১৮৪৭ ১৫৮৩০১-২, ০১৮৪৭ ১৫৮৩২৫</h5>
                    </div>
                    <div class="col-sm-6">
                        <h3>প্রতি শুক্রবার</h3>
                        <h4 style="font-size: 20px;">শেরপুর ডক্টরস হসপিটাল </h4>
                        <h5>সজবরখিলা, সদর, শেরপুর । </h5>
                        <h5>রোগী দেখার সময়ঃ সকাল ৯.০০ মিনিট থেকে রাত ৯.০০ মিনিট পর্যন্ত ।</h5>
                        <h5>যোগাযোগঃ ০১৭৮৯ ২৬৬ ৬০৬-৭ </h5>
                        <h5>ইমেইলঃ sherpurdoctorshospital@gmail.com</h5>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <div class="copy_right py-4 text-center">
        <p>&copy; 2019 Doctor Theme. All rights reserved .</p>
    </div>
            <script src="{% static 'doctor/js/jquery-2.2.3.min.js' %}"></script>
            <script src="{% static 'doctor/js/lightcase.js' %}"></script>
            <script src="{% static 'doctor/js/jquery.events.touch.js' %}"></script>
            
            <!--slider-->
            <script src="{% static 'doctor/js/jquery.sliderPro.min.js' %}"></script>
            <script>
                $(document).ready(function($) {
                    $('#example5').sliderPro({
                        width: 1980,
                        height: 650,
                        orientation: 'vertical',
                        loop: false,
                        arrows: true,
                        buttons: false,
                        thumbnailsPosition: 'right',
                        thumbnailPointer: true,
                        thumbnailWidth: 290,
                        breakpoints: {
                            800: {
                                thumbnailsPosition: 'bottom',
                                thumbnailWidth: 270,
                                thumbnailHeight: 100
                            },
                            500: {
                                thumbnailsPosition: 'bottom',
                                thumbnailWidth: 120,
                                thumbnailHeight: 50
                            }
                        }
                    });
                });
            </script>
        
            <script>
                $(document).ready(function() {
                    $(".responsive_menu_bar").click(function(){
                        $(".main_menu_pull").slideToggle(300);
                    });
                });
            </script>
            <script src="{% static 'doctor/js/jquery.waypoints.min.js' %}"></script>
            <script src="{% static 'doctor/js/jquery.countup.js' %}"></script>
            <script>
                $('.counter').countUp();
            </script>
            <!-- //stats -->
        
            <!-- carousel -->
            <script src="{% static 'doctor/js/owl.carousel.js' %}"></script>
            <script>
                $(document).ready(function() {
                    $('.owl-carousel').owlCarousel({
                        loop: true,
                        margin: 10,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: true
                            },
                            600: {
                                items: 2,
                                nav: false
                            },
                            900: {
                                items: 3,
                                nav: false
                            },
                            1000: {
                                items: 4,
                                nav: true,
                                loop: false,
                                margin: 20
                            }
                        }
                    })
                })
            </script>
            <!-- //carousel -->
            <!-- //js -->
            <script src="{% static 'doctor/js/bootstrap.js' %}"></script>
            <!--/ start-smoth-scrolling -->
            <script src="{% static 'doctor/js/move-top.js' %}"></script>
            <script src="{% static 'doctor/js/easing.js' %}"></script>
            <script src="{% static 'doctor/js/jquery.events.touch.js' %}"></script>
            
            <script>
                jQuery(document).ready(function($) {
                    $(".scroll").click(function(event) {
                        event.preventDefault();
                        $('html,body').animate({
                            scrollTop: $(this.hash).offset().top
                        }, 900);
                    });
                });
            </script>
            <script>
                $(document).ready(function() {
                    $().UItoTop({
                        easingType: 'easeOutQuart'
                    });
                });
            </script>
            <script>
                window.onscroll = function() {myFunction()};
                var navbar = document.getElementById("navbar");
                var sticky = navbar.offsetTop;
                function myFunction() {
                    if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                    } else {
                    navbar.classList.remove("sticky");
                    }
                }
            </script>
            <script>
                $('.showcase').lightcase();
            </script>
        </body>
        </html>